name: Python package

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install uv and set the python version
        uses: astral-sh/setup-uv@v7
        with:
          python-version: "3.13"

      - name: Install the project
        run: |
          uv sync --all-extras --group dev --group doc
          uv pip install -e .
          uv pip list

      - name: Run unit tests
        run: uv run scripts/make.py --test

      - name: Check types with mypy
        run: uv run scripts/make.py --mypy

      - name: Check types with pyright
        run: uv run scripts/make.py --pyright

      - name: Lint with ruff
        run: uv run scripts/make.py --ruff

      - name: Build documentation
        run: uv run scripts/make.py --docs
